<div class="container-persona">
    <div class="tabla-persona">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Edad</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">DNI</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let listpersona of personaL">
            <td>{{listpersona.idPersona}}</td>
            <td>{{listpersona.nombre}}</td>
            <td>{{listpersona.apellidos}}</td>
            <td>{{listpersona.edad}}</td>
            <td>{{listpersona.telefono}}</td>
            <td>{{listpersona.correo}}</td>
            <td>{{listpersona.dni}}</td>
            <td><a [routerLink]="['/menu/editPersona',listpersona.idPersona]" ><i class="fa fa-list"></i></a></td>
            <td><button [routerLink]="['/menu/listarPersona']" (click)="deletePersona(listpersona.idPersona)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
          </tr>
        </tbody>
      </table>  
    </div>
</div>

